<?php
/**
 * This file is copied to config.php by kick
 *
 *
 * Original file by kickstart-skel/php-app-base
 */

define("DEV_MODE", (bool)"%DEV_MODE%");
define("VERSION_INFO", "v0.1.%VERSION_NUMBER% (%VERSION_DATE_COMPACT%)");




define("CONF_SSH_PRIV_KEY_FILE", "%CONF_SSH_PRIV_KEY_FILE%");
define("CONF_REPO_URL", "%CONF_REPO_URL%");

define("CONF_INFLUX_HOST", "%CONF_INFLUX_HOST?influxdb%");
define("CONF_INFLUX_PORT", "%CONF_INFLUX_PORT?8086%");
define("CONF_INFLUX_USER", "%CONF_INFLUX_USER?admin%");
define("CONF_INFLUX_PASS", "%CONF_INFLUX_PASS?test123%");

if (CONF_REPO_URL != "") {

    define("REPO_PATH", "/repo");
    define("CONFIG_PATH", REPO_PATH . "/metrics");
} else {
    define("CONFIG_PATH", "/mod/metrics");
}


define("CONF_GITLAB_TOKEN", "%CONF_GITLAB_TOKEN%");
define("DEBUG_MODE", (bool)"%DEBUG_MODE%");
